* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.margin-top-dashboard {
  margin-top: 5rem;
}

.requester-row-container {
  justify-content: center;
  display: flex;
  align-items: center;
}
.requester-row {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 80vw;
  gap: 0%;
}

.requester-row button {
  width: 13vw;
  height: 5vh;
  padding: 0;
  background-color: transparent;
  color: #060e57;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: center;
  border: none;
}
.requester-row button.active {
  border-bottom: 5px solid #060e57;
  border-radius: 0px;
}
.requester-row button:hover {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid #060e57;
  border-radius: 0px;
}
.requester-dashboard-container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  flex-wrap: wrap;
  max-height: 70vh;
  padding: 3rem;
  height: 68vh;
  width: 88vw;
  margin-left: 15vh;
  margin-top: 0.5vw;
  border-top: 8px solid #060e57;
  border-image: linear-gradient(to right, #e8a51c, #060e57);
  border-image-slice: 1;
  gap: 5%;
  justify-content: center;
}
.vehicle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 55vh;
  width: 88vw;
  gap: 0%;
  padding-left: 5vh;
}
.date-available-range {
  color: #060e57;
  font-size: 1.1rem;
  font-weight: bold;
}
.requester-schedule-container {
  height: 50vh;
  width: 88vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.requester-schedule-container div {
  background-color: #d9d9d9;
  height: 55vh;
  width: 40vw;
  padding-top: 1.5vh;
}
.requester-schedule-container div div:nth-child(1) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  gap: 0.5vw;
}

.requester-schedule-container div div:nth-child(1) div:nth-child(1) {
  padding-left: 0vw;
  padding-top: 0vh;
}
.requester-schedule-container div div:nth-child(1) div:nth-child(2) {
  display: flex;
  justify-content: flex-start;
  width: 48vw;
  padding-left: 0vw;
  padding-top: 0vh;
}
.requester-schedule-container div div:nth-child(1) h1 {
  color: black;
  font-size: 1.5rem;
}
.requester-schedule-container div div:nth-child(1) h2 {
  color: black;
  font-size: 1.5rem;
}
.requester-schedule-container div div:nth-child(2) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  gap: 1vw;
}
.requester-schedule-container div div:nth-child(2) h2 {
  color: black;
  font-size: 1.1rem;
}
.requester-schedule-container div div:nth-child(2) p {
  color: black;
  font-size: 1.1rem;
}
.requester-schedule-container div div:nth-child(3) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  gap: 0vw;
}
.requester-schedule-container div div:nth-child(3) div {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 0vw;
  align-items: center;
  height: 5vh;
  width: 18vw;
  gap: 1vw;
}
.requester-schedule-container div div:nth-child(3) h2 {
  color: black;
  font-size: 1.1rem;
}
.requester-schedule-container div div:nth-child(3) p {
  color: black;
  font-size: 1.1rem;
}
.requester-schedule-container div div:nth-child(4) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  height: 10vh;
  gap: 1vw;
  overflow: hidden;
}
.requester-schedule-container div div:nth-child(4) h2 {
  color: black;
  font-size: 1.1rem;
}
.requester-schedule-container div div:nth-child(4) p {
  color: black;
  font-size: 1.1rem;
}

.requester-schedule-container div div:nth-child(5) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  gap: 0vw;
}
.requester-schedule-container div div:nth-child(5) div {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 0vw;
  align-items: center;
  height: 5vh;
  width: 18vw;
  gap: 1vw;
}
.requester-schedule-container div div:nth-child(5) h2 {
  color: black;
  font-size: 1.1rem;
}
.requester-schedule-container div div:nth-child(5) p {
  color: black;
  font-size: 1.1rem;
}
.requester-schedule-container div div:nth-child(5) div:nth-child(2) p {
  color: #060e57;
}
.requester-schedule-container div div:nth-child(6) {
  display: flex;
  flex-direction: row;
  margin-top: 3vh;
  padding-right: 4vw;
  align-items: center;
  justify-content: flex-end;
  height: 5vh;
}
.requester-schedule-container div div:nth-child(6) button {
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  border: 2px solid #060e57;
}
.requester-schedule-container div div:nth-child(6) button:nth-child(1):hover {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
}
.requester-pending-schedule-container {
  height: 50vh;
  width: 88vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.requester-pending-schedule-container div {
  background-color: #d9d9d9;
  height: 30vh;
  width: 40vw;
  padding-top: 1.5vh;
}
.requester-pending-schedule-container div div:nth-child(1) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  gap: 1vw;
}
.requester-pending-schedule-container div div:nth-child(1) h1 {
  color: black;
  font-size: 1.5rem;
}
.requester-pending-schedule-container div div:nth-child(1) h2 {
  color: black;
  font-size: 1.5rem;
}
.requester-pending-schedule-container div div:nth-child(2) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  gap: 1vw;
}
.requester-pending-schedule-container div div:nth-child(2) h2 {
  color: black;
  font-size: 1.1rem;
}
.requester-pending-schedule-container div div:nth-child(2) p {
  color: black;
  font-size: 1.1rem;
}
.requester-pending-schedule-container div div:nth-child(3) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 15vw;
  align-items: center;
  height: 5vh;
  gap: 0.5vw;
}
.requester-pending-schedule-container div div:nth-child(3) p:nth-child(1) {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}
.requester-pending-schedule-container div div:nth-child(3) p:nth-child(2) {
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
}
@keyframes loadingDots {
  0% {
    content: ". . . .";
  }
  25% {
    content: ".   ";
  }
  50% {
    content: ". .  ";
  }
  75% {
    content: ". . . ";
  }
  100% {
    content: ". . . .";
  }
}

.loading-dots::before {
  content: ". . . .";
  animation: loadingDots 2s linear infinite;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}
.modal-set-trip {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 30vw;
  height: 55vh;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
}

.modal-set-trip-body h1 {
  margin-top: 1vw;
  color: #060e57;
  font-size: 1.5rem;
  text-align: center;
}
.modal-button-container {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .modal-button-container button:nth-child(1) {
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  color: black;
  border: 2px solid #060e57;
}
.modal-button-container button:nth-child(1):hover {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
} */

.modal-button-container button:nth-child(1) {
  background-color: #060e57;
  font-size: 1rem;
  font-weight: bold;
}

.modal-button-container button:nth-child(1):hover {
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
}
.trip-category {
  margin-top: 1vw;
  width: 25vw;
  height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.trip-category div {
  width: 20vw;
  display: flex;
  padding-left: 2vw;
  justify-content: space-evenly;
}
.trip-category button {
  width: 7vw;
  height: 5vh;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  background-color: transparent;
  color: #060e57;
  border: 2px solid #060e57;
  font-weight: bold;
}
.trip-category button.active {
  background-color: #060e57;
  color: white;
}

.trip-category p {
  color: #060e57;
  font-size: 1rem;
  font-weight: bold;
}
.one-way-sub-category {
  margin-top: 1vw;
  width: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.one-way-sub-category p {
  color: #060e57;
  font-size: 1rem;
  font-weight: bold;
}
.one-way-sub-category select {
  width: 15vw;
  border-radius: 1px;
  background-color: white;
}

.date-from-roundtrip {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  height: 10vh;
}
.date-from-oneway {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  height: 10vh;
}
.travel-datee {
  margin-left: -3vw;
}
.date-from-roundtrip p {
  color: #060e57;
  font-size: 1rem;
  font-weight: bold;
}
.date-from-oneway p {
  color: #060e57;
  font-size: 1rem;
  font-weight: bold;
}
.date-to {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 2vw;

  width: 25vw;
  height: 10vh;
}
.date-to p {
  color: #060e57;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 3vh;
}
.separate-time {
  margin-top: 1vw;
}
.trip-destination {
  margin-top: 0.5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 25vw;
  height: 5vh;
}
.trip-destination p {
  color: #060e57;
  font-size: 1rem;
  font-weight: bold;
  margin-left: -3vw;
}
.trip-destination-autocomplete-roundtrip {
  height: 5vh;
}

.trip-destination-autocomplete-oneway {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.trip-destination-autocomplete-oneway p {
  color: red;
  font-size: 0.8rem;
  margin-left: 0vw;
}

.number-of-pass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 2vw;
}
.number-of-pass p {
  color: #060e57;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 0vh;
}
.number-of-pass input {
  background-color: white;
  color: black;
  border: none;
  width: 5vw;
  height: 5vh;
  border-radius: 5px;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .margin-top-dashboard {
    margin-top: -2rem;
    margin-bottom: 2rem;
  }
  .requester-row {
    gap: 10%;
  }
  .requester-row p {
    font-size: 1.5rem;
  }
  .requester-dashboard-container {
    margin-left: 3vh;
  }
  .modal-set-trip {
    width: 75vw;
    height: 55vh;
    margin-top: 25vh;
    margin-left: 13vw;
  }
  .modal-set-trip-body {
    margin-top: 5vh;
  }
  .date-from {
    margin-top: 3vw;
    width: 75vw;
    justify-content: center;
    gap: 20%;
  }
  .date-from p {
    margin-left: 0vh;
  }
  .date-to {
    margin-top: 3vw;
    width: 75vw;
    justify-content: center;
    gap: 20%;
  }
  .date-from p {
    margin-left: 0vh;
  }
  .separate-time {
    margin-top: 3vw;
  }

  .number-of-pass p {
    font-size: 0.9rem;
  }
  .number-of-pass input {
    width: 15vw;
    padding: 0.1rem;
  }
  .number-of-pass {
    margin-top: 3vw;
    justify-content: center;
    gap: 7%;
  }
}
