* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.request-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  height: 80vh;
  margin-left: 15vh;
  margin-top: 2vw;
  overflow: auto;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.request-row {
  margin-top: 2vw;
  margin-left: 0vh;
  display: flex;

  flex-direction: row;
  justify-content: center;
  gap: 0%;
}

.margin-top {
  margin-top: 5rem;
}
.request-container table {
  width: 80vw;
  overflow: auto;
}
.request-container table thead {
  font-size: 1.5rem;
  color: #060e57;
  text-align: center;
}
.request-container table tbody tr {
  width: 10vw;
  height: 8vh;
  font-size: 1.3rem;
  color: black;
  text-align: center;
  cursor: pointer;
  /* position: relative; */
}
.request-container table tbody tr .ontrip-yes {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: green;
  /* position: absolute; */
  margin-top: 0vh;
  margin-left: 5vw;
}
.request-container table tbody tr .ontrip-no {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  /* position: absolute; */
  margin-top: 0vh;
  margin-left: 5vw;
}
.request-container table tbody tr .ontrip-completed {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  /* position: absolute; */
  margin-top: 0vh;
  margin-left: 5vw;
}
/* .request-container table tbody tr .ontrip-yes {
  font-size: 1.5rem;
  color: green;
}
.request-container table tbody tr .ontrip-no {
  font-size: 1.5rem;
  color: red;
} */

.request-container table tbody tr:hover {
  background-color: #060e57;
  color: white;
}
.status-legend {
  width: 30vw;
  height: 6vh;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  gap: 1vw
}
.status-legend p {
  color: black;
}
.status-legend .ontrip-yess-container {
  width: 6vw;
  display: flex;
  align-items: center;
  gap: 0.7vw
}
.status-legend .ontrip-yess {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}
.status-legend .ontrip-noo-container {
  width: 8vw;
  display: flex;
  align-items: center;
  gap: 0.7vw
}
.status-legend .ontrip-noo {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}
.status-legend .ontrip-gray-container {
  width: 10vw;
  display: flex;
  align-items: center;
  gap: 0.7vw
}
.status-legend .ontrip-gray {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}
@media screen and (max-width: 768px) {
  .request-container {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 70vh;
    margin-left: 0vh;
    margin-top: 5vw;
  }
  .request-row {
    margin-top: 1.5rem;
    margin-left: 0rem;

    gap: 10%;
  }
  .margin-top {
    margin-top: 0rem;
  }

  .request-container table thead {
    font-size: 1.2rem;
  }
  .request-container table tbody tr {
    font-size: 1rem;
  }
}
