.primary-style {
  background-color: #060e57;
  color: white;
  width: 8vw;
  height: 6vh;
  text-align: center;
}

.secondary-style {
  background-color: transparent;
  color: black;
  border: 2px solid #060e57;
  width: 8vw;
  height: 6vh;
  text-align: center;
}
