* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-request-form {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  margin: 12vh 0 0 25vw;
  background-color: white;
  width: 50vw;
  height: 85vh;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.request-form-container {
  height: auto;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  padding-bottom: 5vh;
  padding-right: 1vw;
}

.request-form-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0;
  margin-top: 1vh;
  align-items: center;
  justify-content: center;
}

.request-form-header h1 {
  font-size: 1.5rem;
  width: 45%;
  margin-left: 15%;
}

.request-form-header p {
  font-size: 1.2rem;
  width: 45%;
  text-align: right;
  margin-right: 5%;
}

.request-form-downloads {
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  gap: 6%;
  font-size: 1rem;
}

.request-form-details {
  position: relative;
  width: 70%;
}

.request-form-each-details {
  position: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.request-form-each-details h2 {
  width: 50%;
  text-align: left;
  font-size: 1rem;
}

.request-form-each-details p {
  width: 50%;
  text-align: right;
  font-size: 1rem;
}

.request-form-details-driver {
  position: relative;
  width: 70%;
}

.request-form-each-details-driver {
  position: inherit;
  width: 104%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.request-form-each-details-driver h2 {
  width: 20%;
  text-align: left;
  font-size: 1rem;
}

.request-form-each-details-driver p {
  width: 60%;
  text-align: right;
  font-size: 1rem;
}

.button-details-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10%;
  justify-content: center;
  align-items: center;
}

.merge-trip-modal {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  margin: 10vh 0 0 25vw;
  background-color: white;
  width: 50vw;
  height: auto;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  overflow: auto;
  padding-bottom: 5vh;
}
.merge-trip-modal-container {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  width: 45vw;
  height: 85vh;
  gap: 1vh;
}
.merge-trip-modal-dropdown-container {
  flex-direction: row;
  margin-top: 5vh;
  padding-left: 0vw;
  align-items: center;
  display: flex;
  height: 5vh;
  width: 40vw;
  gap: 2vw;
  position: relative;
}
.merge-trip-modal-dropdown-child-container {
  height: 15vh;
  width: 20vw;
  margin-left: 10%;
}

.set-trip-text-error-span {
  position: absolute;
  top: 6vh;
  color: red;
  left: 18vw;
}

.merge-trip-modal-container p {
  font-size: 1.1rem;
  font-weight: bold;
}
.merge-trip-modal-container h1 {
  color: #060e57;
  font-size: 1.3rem;
}
.merge-trip-modal-container .dropdown-custom {
  position: absolute;
  background-color: #060e57;
  border-radius: 5px;
  max-width: 20vw;
  width: 20vw;
  right: 3.5vw;
  bottom: -1vh;
}
.merge-trip-modal-container .menu-custom {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 20vw;
  height: 25vh;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 4px;
  list-style: none;
  color: black;
  z-index: 20;
  overflow: auto;
}
.merge-trip-modal-container .dropdown-toggle-custom {
  margin-left: 5vw;
}
.merge-trip-modal-container .autocomplete-address-google-custom {
  background-color: #d9d9d9;
  padding-left: 1vw;
  width: 20vw;
  margin-left: 8vw;
}
.merge-trip-modal-button-container {
  width: 20vw;
  display: flex;
  margin-top: 5vh;
  justify-content: space-between;
}

.merge-trip-modal-field-container {
  flex-direction: row;
  margin-top: 6vh;
  padding-left: 0vw;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  width: 40vw;
  gap: 2vw;
}
.merge-trip-modal-select-field-container {
  display: flex;
  flex-direction: row;
  width: 40vw;
  text-align: center;
  justify-content: flex-end;
  margin-right: 9%;
}

.merge-trip-modal-passenger-names-container {
  display: flex;
  flex-direction: row;
  width: 40vw;
  text-align: center;
  justify-content: center;
  margin-right: 9%;
  flex-wrap: wrap;
  gap: 1%;
}
.merge-trip-modal-destination-field-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: center;
}
.merge-trip-modal-field-container-purpose-container {
  margin-left: 10vw;
  width: 12.5vw;
  text-align: center;
}
.merge-trip-modal-field-container-purpose {
  width: 50vw;
}
.merge-trip-modal-passenger-container {
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 0vw;
  align-items: center;
  display: flex;
  height: 50vh;
  width: 40vw;
  gap: 1vw;
  flex-wrap: wrap;
  overflow: auto;
}
.merge-trip-modal-field-container select {
  background-color: #d9d9d9;
  width: 20vw;
  margin-left: 9.5vw;
}

.reason-modal {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  margin: 30vh 0 0 35vw;
  background-color: white;
  width: 30vw;
  height: 35vh;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
}
.reason-modal-container {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  width: 25vw;
  height: 30vh;
  position: relative;
  gap: 10%;
}
.reason-modal-container h1 {
  color: #060e57;
  font-size: 1.1rem;
}
.reason-modal-container input {
  background-color: white;
  color: black;
  width: 25vw;
  height: 5vh;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}
.reason-modal-container .dropdown-custom {
  position: absolute;
  background-color: #060e57;
  border-radius: 5px;
  max-width: 13vw;
  right: 25%;
}

.reason-modal-container .menu-custom {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 13vw;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  color: black;
  z-index: 20;
}

.reason-modal-button-container {
  width: 20vw;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
}

@media (max-width: 480px) {
}
