* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-request-form {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  margin: 15vh 0 0 25vw;
  background-color: white;
  width: 50vw;
  height: 70vh;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.request-form-container {
  height: auto;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2vh;
  padding-bottom: 5vh;
  padding-right: 1vw;
}

.request-form-container div:nth-child(1) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  justify-content: space-around;
  width: 55vw;
  height: auto;
  gap: 1vw;
}
.request-form-container div:nth-child(1) h1 {
  color: black;
  font-size: 1.5rem;
}
.request-form-container .close-icon {
  font-size: 1.5rem;
  color: red;
}
.request-form-container div:nth-child(1) p:hover {
  cursor: pointer;
}
.request-form-container div:nth-child(2) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 2vw;
  align-items: center;
  height: auto;
  width: 50vw;
  gap: 0vw;
}
.request-form-container div:nth-child(2) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 30vw;
  gap: 1vw;
}
.request-form-container div:nth-child(2) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(2) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(3) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 2vw;
  align-items: center;
  height: auto;
  width: 50vw;
  gap: 0vw;
}
.request-form-container div:nth-child(3) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 30vw;
  gap: 1vw;
}
.request-form-container div:nth-child(3) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: auto;
  gap: 1vw;
}
.request-form-container div:nth-child(3) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(3) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(4) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  align-items: flex-start;
  height: auto;
  gap: 1vw;
  width: 50vw;
  padding-left: 4vw;
}
.request-form-container div:nth-child(4) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(4) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(5) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 4vw;
  align-items: center;
  height: auto;
  width: 50vw;
  gap: 14vw;
}
.request-form-container div:nth-child(5) div {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 0vw;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  width: 13vw;
  gap: 1vw;
}
.request-form-container div:nth-child(5) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(5) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(6) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 4vw;
  align-items: center;
  height: auto;
  width: 50vw;
  gap: 0.8vw;
}
.request-form-container div:nth-child(6) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: auto;
  margin-top: 0vh;
  width: 30vw;
  gap: 1vw;
  padding-left: 0vw;
}
.request-form-container div:nth-child(6) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 0vh;
  padding-left: 0vw;
  height: auto;
  width: auto;
  gap: 1vw;
}
.request-form-container div:nth-child(6) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(6) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(7) {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 0vh;
  padding-left: 4vw;
  height: auto;
  width: 50vw;
  gap: 0vh;
}
.request-form-container div:nth-child(7) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 0vh;
  padding-left: 0vw;
  height: auto;
  width: 40vw;
  gap: 1vw;
}

.request-form-container div:nth-child(7) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(7) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(8) {
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  align-items: center;
  height: auto;
  width: 50vw;
  gap: 0vw;
}
.request-form-container div:nth-child(8) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 0vh;
  height: auto;
  width: 30vw;
  gap: 1vw;
}
.request-form-container div:nth-child(8) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 0vh;
  height: auto;
  width: auto;
  gap: 1vw;
}
.request-form-container div:nth-child(8) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(8) p {
  color: black;
  font-size: 1.1rem;
  word-break: break-all;
}
.request-form-container div:nth-child(9) {
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 4vw;
  align-items: center;
  display: flex;
  height: 5vh;
  width: 50vw;
  gap: 1vw;
  position: relative;
}
.request-form-container div:nth-child(9) div {
  background-color: #060e57;
  position: absolute;
  max-width: 13vw;
  bottom: 0vh;
  left: 2.8vw;
}
.request-form-container div:nth-child(9) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(9) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(9) .dropdown-custom {
  position: absolute;
  background-color: #060e57;
  border-radius: 5px;
}
.request-form-container div:nth-child(9) .set-trip-text-error {
  color: red;
  font-size: 1rem;
  margin-left: 0vw;
  text-align: center;
  margin-top: 10vh;
  margin-left: 2vw;
}

.request-form-container div:nth-child(9) .menu-custom {
  position: absolute;
  top: 100%;
  left: 22%;
  width: 13vw;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  color: black;
}
.request-form-container .departure-arrival-container {
  display: flex;
  flex-direction: row;
  padding-left: 2vw;
  align-items: center;
  height: auto;
  width: 50vw;
  gap: 0vw;
}
.request-form-container .departure-arrival-container div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 0vh;
  height: auto;
  width: 27vw;
  gap: 1vw;
}
.request-form-container .departure-arrival-container div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  margin-top: 0vh;
  height: auto;
  width: auto;
  gap: 1vw;
}
.request-form-container .departure-arrival-container h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container .departure-arrival-container p {
  color: black;
  font-size: 1.1rem;
  word-break: break-all;
}
.request-form-container .travel-order-note {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 4vw;
  align-items: center;
  height: auto;
  width: 50vw;
  gap: 1vw;
}

.request-form-container .travel-order-note h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container .travel-order-note p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container .button-details-container {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  align-items: center;
  height: auto;
  width: 50vw;
  justify-content: space-around;
}

.merge-trip-modal {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  margin: 10vh 0 0 25vw;
  background-color: white;
  width: 50vw;
  height: auto;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  overflow: auto;
  padding-bottom: 5vh;
}
.merge-trip-modal-container {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  width: 45vw;
  height: 85vh;
  gap: 1vh;
}
.merge-trip-modal-dropdown-container {
  flex-direction: row;
  margin-top: 5vh;
  padding-left: 0vw;
  align-items: center;
  display: flex;
  height: 5vh;
  width: 40vw;
  gap: 2vw;
  position: relative;

}
.merge-trip-modal-dropdown-child-container{ 
  height: 15vh;
  width: 20vw;
  margin-left: 10%;
}

.set-trip-text-error-span{ 
  position: absolute;
  top: 6vh;
  color: red;
  left: 18vw
} 

.merge-trip-modal-container p {
  font-size: 1.1rem;
  font-weight: bold;
}
.merge-trip-modal-container h1 {
  color: #060e57;
  font-size: 1.3rem;
}
.merge-trip-modal-container .dropdown-custom {
  position: absolute;
  background-color: #060e57;
  border-radius: 5px;
  max-width: 20vw;
  width: 20vw;
  right: 3.5vw;
  bottom: -1vh;
}
.merge-trip-modal-container .menu-custom {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 20vw;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid black;
  border-radius: 4px;
  list-style: none;
  color: black;
  z-index: 20;
}
.merge-trip-modal-container .dropdown-toggle-custom {
  margin-left: 5vw;
}
.merge-trip-modal-container .autocomplete-address-google-custom{
  background-color: #d9d9d9;
  padding-left: 1vw;
  width: 20vw;
  margin-left: 8vw;
}
.merge-trip-modal-button-container {
  width: 20vw;
  display: flex;
  margin-top: 5vh;
  justify-content: space-between;
}

.merge-trip-modal-field-container {
  flex-direction: row;
  margin-top: 6vh;
  padding-left: 0vw;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  width: 40vw;
  gap: 2vw;

}
.merge-trip-modal-select-field-container{
  display: flex;
  flex-direction: row;
  width: 40vw;
  text-align: center;
  justify-content: flex-end;
  margin-right: 9%;
}

.merge-trip-modal-passenger-names-container{
  display: flex;
  flex-direction: row;
  width: 40vw;
  text-align: center;
  justify-content: flex-end;
  margin-right: 9%;
  flex-wrap: wrap;
  gap: 1%;
}
.merge-trip-modal-destination-field-container {
  display: flex;
  flex-direction: column;
  width: 30vw;
  text-align: center;
}
.merge-trip-modal-field-container-purpose-container {
  margin-left: 10vw;
  width: 12.5vw;
  text-align: center;
}
.merge-trip-modal-field-container-purpose{
  width: 50vw;
}
.merge-trip-modal-passenger-container {
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 0vw;
  align-items: center;
  display: flex;
  height: 50vh;
  width: 40vw;
  gap: 1vw;
  flex-wrap: wrap;
  overflow: auto;
}
.merge-trip-modal-field-container select {
  background-color: #d9d9d9;
  width: 20vw;
  margin-left: 9.5vw;
}

.reason-modal {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  margin: 30vh 0 0 35vw;
  background-color: white;
  width: 30vw;
  height: 35vh;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
}
.reason-modal-container {
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  align-items: center;
  width: 25vw;
  height: 30vh;
  position: relative;
  gap: 10%;
}
.reason-modal-container h1 {
  color: #060e57;
  font-size: 1.1rem;
}
.reason-modal-container input {
  background-color: white;
  color: black;
  width: 25vw;
  height: 5vh;
  padding: 10px;
  border-radius: 10px;
  font-size: 1rem;
}
.reason-modal-container .dropdown-custom {
  position: absolute;
  background-color: #060e57;
  border-radius: 5px;
  max-width: 13vw;
  right: 25%;
}

.reason-modal-container .menu-custom {
  position: absolute;
  top: 100%;
  left: 0%;
  width: 13vw;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  color: black;
  z-index: 20;
}

.reason-modal-button-container {
  width: 20vw;
  display: flex;
  margin-top: 10vh;
  justify-content: space-between;
}