* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-request-form {
  display: flex;
  color: black;
  align-items: center;
  flex-direction: column;
  margin: 18vh 0 0 25vw;
  background-color: white;
  width: 50vw;
  height: 70vh;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  overflow-x: hidden;
  overflow-y: auto;
}

.request-form-container {
  height: 50vh;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.request-form-container div:nth-child(1) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  justify-content: space-around;
  width: 55vw;
  height: 5vh;
  gap: 1vw;
}
.request-form-container div:nth-child(1) h1 {
  color: black;
  font-size: 1.5rem;
}
.request-form-container div:nth-child(1) p {
  font-size: 1.5rem;
  color: red;
}
.request-form-container div:nth-child(1) p:hover {
  cursor: pointer;
}
.request-form-container div:nth-child(2) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  width: 50vw;
  gap: 0vw;
}
.request-form-container div:nth-child(2) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  width: 30vw;
  gap: 1vw;
}
.request-form-container div:nth-child(2) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  width: 12vw;
  gap: 1vw;
}
.request-form-container div:nth-child(2) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(2) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(3) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  align-items: flex-start;
  height: 8vh;
  gap: 1vw;
  width: 50vw;
  padding-left: 4vw;
}
.request-form-container div:nth-child(3) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(3) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(4) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 4vw;
  align-items: center;
  height: 5vh;
  width: 50vw;
  gap: 14vw;
}
.request-form-container div:nth-child(4) div {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 0vw;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  width: 13vw;
  gap: 1vw;
}
.request-form-container div:nth-child(4) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(4) p {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(5) {
  display: flex;
  flex-direction: row;
  margin-top: 2vh;
  padding-left: 4vw;
  align-items: center;
  height: 5vh;
  width: 50vw;
  gap: 0.8vw;
}
.request-form-container div:nth-child(5) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 7vh;
  width: 30vw;
  gap: 1vw;
  padding-left: 0vw;
  overflow: hidden;
}
.request-form-container div:nth-child(5) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 0vw;
  height: 7vh;
  width: 10vw;
  gap: 1vw;
}
.request-form-container div:nth-child(5) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(5) p {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(6) {
  display: flex;
  flex-direction: column;
  margin-top: 0vh;
  padding-left: 4vw;
  height: 10vh;
  width: 50vw;
  gap: 0vw;
}
.request-form-container div:nth-child(6) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 0vw;
  height: 5vh;
  width: 23vw;
  gap: 1vw;
}
.request-form-container div:nth-child(6) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 0vw;
  height: 5vh;
  width: 20vw;
  gap: 1vw;
}
.request-form-container div:nth-child(6) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(6) p {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(7) {
  display: flex;
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 2vw;
  align-items: center;
  height: 5vh;
  width: 50vw;
  gap: 0vw;
}
.request-form-container div:nth-child(7) div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  width: 30vw;
  gap: 1vw;
}
.request-form-container div:nth-child(7) div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 5vh;
  width: 12vw;
  gap: 1vw;
}
.request-form-container div:nth-child(7) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(7) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(8) {
  flex-direction: row;
  margin-top: 0vh;
  padding-left: 4vw;
  align-items: center;
  display: flex;
  height: 5vh;
  width: 50vw;
  gap: 1vw;
}
.request-form-container div:nth-child(8) h2 {
  color: black;
  font-size: 1.1rem;
  white-space: nowrap;
}
.request-form-container div:nth-child(8) p {
  color: black;
  font-size: 1.1rem;
}
.request-form-container div:nth-child(8) .dropdown-custom {
  position: relative;
  display: inline-block;
  width: 12vw;
  margin-left: 5rem;
  background-color: #060e57;
  border-radius: 5px;
}

.request-form-container div:nth-child(8) .toggle-custom {
  cursor: pointer;
  padding: 0px;
  background: green;
  width: 2vw;
  gap: 10%;
  flex-direction: row;
  border-radius: 0px;
  font-size: 1rem;
}

.request-form-container div:nth-child(9) {
  display: flex;
  flex-direction: row;
  margin-top: 5vh;
  align-items: center;
  height: 6vh;
  width: 50vw;
  justify-content: space-around;
}

.request-form-container div:nth-child(9) button {
  width: 8vw;
  height: 6vh;
  background-color: #060e57;
  color: white;
}
