* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.request-form-body {
  margin-top: 5vw;
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  padding: 1rem;
}
.request-form-body h1 {
  margin-top: 1vw;
  color: #060e57;
  font-size: 2rem;
  text-align: center;
}
.request-form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.request-form-header img:nth-child(1) {
  width: 8vw;
  height: 15vh;
}
.request-form-header img:nth-child(3) {
  width: 15vw;
  height: 10vh;
}
.form-body {
  margin: 0vw 0vw 0vw 2vw;
  width: 94vw;
  height: 76vh;
  border-top: 8px solid #060e57;
  border-image: linear-gradient(to right, #e8a51c, #060e57);
  border-image-slice: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-body p {
  color: black;
}
.form-body-shadow {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 70vw;
  height: 70vh;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #cccccc;
  padding-bottom: 2rem;
}
.first-row {
  display: flex;
  margin-top: 3vw;
  flex-direction: column;
  width: 60vw;
  margin-left: 3vw;
  align-items: center;
  height: auto;
}
.first-row-column {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  width: 60vw;
  align-items: center;
}

.requester-info-name {
  margin-top: 0vw;
  display: flex;
  flex-direction: row;
  margin-left: 0vh;
  width: auto;
  color: black;
  gap: 1vw;
  height: auto;
}
.requester-info-name strong {
  font-size: 1rem;
  white-space: nowrap;
  color: black;
}
.requester-office {
  display: flex;
  gap: 1vw;
  color: black;
  width: 18vw;
}
.first-row .set-trip-text-error {
  color: red;
  font-size: 1rem;
  margin-left: 0vw;
  text-align: center;
}
.input-passenger-number {
  display: flex;
  flex-direction: row;
  height: auto;
}
.input-passenger-number .maximum-capacity-note {
  font-size: 1rem;
  color: black;
  font-weight: bold;
  margin-bottom: 0.5vh;
}
.input-passenger-number .set-trip-text-error {
  color: red;
  font-size: 0.8rem;
  margin-left: 0vw;
  font-weight: bold;
}
.passenger_name_width {
  width: 12vw;
}
.passengers-name-row {
  margin-top: 0vh;
  padding: 0px;
  margin-left: 3vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1%;
}
.passenger-name-column {
  display: flex;
  flex-direction: column;
}
.passenger-name-column .set-trip-text-error {
  color: red;
  font-size: 0.8rem;
  margin-left: 0vw;
  margin-top: -2vh;
  font-weight: bold;
  text-align: center;
}
.third-row {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-left: 3vw;
  gap: 2vw;
  width: 60vw;
}
.third-row2 {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  margin-left: 3vw;
  gap: 6vw;
  width: 60vw;
}
.vehicle-info-name {
  margin-top: 0vw;
  display: flex;
  flex-direction: row;
  margin-left: 0vh;
  width: auto;
  color: black;
  white-space: nowrap;
  gap: 1vw;
}

.vehicle-info-name strong {
  font-size: 1rem;
  white-space: nowrap;
  color: black;
}
.destination-info {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.destination-info strong {
  white-space: nowrap;
  font-size: 1rem;
  color: black;
}
.kilometer-info {
  margin-top: 0vw;
  display: flex;
  flex-direction: row;
  width: 14vw;
  gap: 1vw;
}
.kilometer-info strong {
  font-size: 1rem;
  white-space: nowrap;
  color: black;
}
.forth-row {
  display: flex;
  margin-top: 1vh;
  margin-left: 0vw;
  flex-direction: row;
  justify-content: space-evenly;
}
.forth-row strong {
  white-space: nowrap;
  font-size: 1rem;
  color: black;
}
.calendar-containerr {
  margin-left: 0vh;
  width: 30vw;
  display: flex;
  flex-direction: row;
  gap: 1vw;
}
.calendar-containerr select {
  width: 15vw;
  border-radius: 1px;
  background-color: #d9d9d9;
}
.fifth-row {
  display: flex;
  margin-top: 1vh;
  margin-left: 3vw;
  flex-direction: row;
}

.fifth-row strong {
  white-space: nowrap;
  font-size: 1rem;
  color: black;
}

.kilometer-info p:nth-child(1) {
}
.fifth-row label {
  color: black;
}

.sixth-row {
  margin-top: 1.5vw;
  display: flex;
  flex-direction: column;
  margin-left: 6vh;
}
.sixth-row p {
  font-weight: bold;
}
.purpose-row {
  display: flex;
  margin-top: 0vw;
  flex-direction: column;
}
.purpose-row .set-trip-text-error {
  color: red;
  font-size: 0.8rem;
  margin-left: 1vw;
  margin-top: -2vh;
}
.purpose-width {
  width: 60vw;
}
.seventh-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3vw;
  width: 60vw;
  margin-top: 1vh;
}
.seventh-row p {
  font-weight: bold;
}

.seventh-row button:nth-child(1) {
  width: 10vw;
  background-color: transparent;
  margin-left: 30vh;
  color: black;
  border: 2px solid #060e57;
  align-items: center;
}
.seventh-row button:nth-child(2) {
  width: 10vw;
  border: none;
  background: linear-gradient(120deg, #fdb316, #060e57 60%);
  color: white;
  align-items: center;
}
.button-row-container {
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  gap: 2%;
  margin-left: 20vw;
}

.iconn {
  color: #060e57;
}
.red-label {
  color: red;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Make sure it's above other elements on the page */
}
.customize-calendar {
  background-color: #d9d9d9;
  color: #000000;
  font-size: 1.3rem;
  border: none;
  text-align: center;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
}
.customize-autocomplete {
  background-color: #d9d9d9;
  color: black;
  width: 15vw;
  border: 2px solid white;
  border-radius: 5px;
  height: 5vh;
  padding: 10px;
}
.autocomplete-container p {
  color: red;
  font-size: 1rem;
  margin-left: 0vw;
  text-align: center;
}
/* .react-time-picker {
  background-color: green;
  color: #000000;
  font-size: 1.3rem;
  border: none;
  padding-left: 6vh;
  width: 15vw;
  height: 5vh;
  border-radius: 5px;
  position: relative;
} */

@media screen and (max-width: 768px) {
  .request-form-body {
    margin: 20vw 0vh 0vw 0vh;
  }
  .request-form-body h1 {
    font-size: 1.5rem;
  }
  .form-body {
    margin: 2vw 0vh 0vw 0vh;
    border-top: 4px solid #060e57;
  }
  .form-body-shadow {
    width: 95vw;
    height: 70vh;
    margin-left: -1vh;
  }
  .first-row {
    margin-left: 0vh;
  }
  .first-row-column {
    margin-left: 0vh;
    display: flex;
    flex-direction: column;
  }
  .passenger_name_width {
    width: 30vw;
  }
  .passengers-name-row {
    display: flex;
    flex-wrap: wrap;
  }
  .third-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .vehicle-info-name {
    width: 35vw;
  }

  .vehicle-info-name p:nth-child(2) {
    margin-right: 0vh;
  }
  .kilometer-info {
    width: 50vw;
  }
  .kilometer-info strong {
    margin-left: 0vh;
  }
  .kilometer-info p {
    width: 50vw;
  }
  .forth-row {
    display: flex;
    margin-top: 2vw;
    margin-left: 3vw;
    flex-direction: row;
    justify-content: space-around;
  }
  .calendar-containerr {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .calendar-icon-container {
    left: 180%;
  }
  .calendar-containerr p {
    font-size: 0.8rem;
    width: 20vw;
  }
  .customize-calendar {
    background-color: transparent;
    color: black;
    font-size: 1.2rem;
    margin-left: -2.1vh;
  }
  .fifth-row {
    margin-left: 1.3vh;
    font-size: 1rem;
  }
  .fifth-row strong {
    display: flex;
  }
  .fifth-row p {
    display: flex;
    width: 30vw;
    font-size: 1rem;
  }
  .sixth-row {
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
  }
  .sixth-row p {
    font-size: 0.8rem;
  }

  .purpose-width {
    width: 80vw;
  }

  .request-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .request-form-header h1 {
    position: absolute;
    font-size: 1rem;
    margin-top: 3.5rem;
  }
  .request-form-header img:nth-child(1) {
    width: auto;
    height: 8vh;
    margin-top: -2vh;
    margin-bottom: 3vh;
  }
  .request-form-header img:nth-child(3) {
    width: auto;
    height: 7vh;
    margin-bottom: 3vh;
    margin-top: -2vh;
    border: 0.5px solid black;
  }
  .requester-info-name strong {
    margin-left: 5vw;
  }
  .requester-info-name p {
    width: 40vw;
    margin-right: -20vw;
  }
  .requester-office strong {
    margin-left: -17vw;
  }
  .requester-office p {
    width: 70vw;
  }
  .input-passenger-number {
    margin-left: 18vw;
    flex-direction: column;
    width: 70vw;
  }
  .passengers-name-row {
    flex-direction: column;
    align-items: baseline;
    margin-left: 5vw;
  }
  .destination-info {
    width: 90vw;
    height: auto;
    display: flex;
    flex-direction: row;
    gap: 1vw;
  }
  .destination-info strong {
    white-space: nowrap;
    font-size: 1rem;
    color: black;
  }
  .seventh-row {
    width: 90vw;
    margin-left: 2vw;
    flex-direction: column;
    justify-content: center;
  }

  .seventh-row button:nth-child(1),
  .seventh-row button:nth-child(2) {
    width: 40%;
    margin-left: 0;
  }

  .button-row-container {
    margin-left: 15%;
    flex-direction: row;
    align-items: center;
  }
}
