* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal-confirmation {
  background-color: #d9d9d9;
  margin-top: 40vh;
  margin-left: 40vw;
  width: 20vw;
  height: 25vh;
  color: #060e57;
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
}
.modal-confirmation p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}
.modal-confirmation p:nth-child(2) {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}
.modal-confirmation p:nth-child(3) {
  font-weight: bold;
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .modal-confirmation {
    margin-top: 5vh;
    margin-left: 2vw;
    width: 96vw;
    height: 60vh;
  }
}