.label {
  color: #060e57;
  margin-left: 10rem;
  margin-top: 2rem;
}

@media screen and (max-width: 767px) {
  .label {
    margin-left: 0rem;
    margin-top:2rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
