* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar-container-main {
  background-color: #d9d9d9;
  color: black;
  width: 35vw;
  height: 75vh;
  margin-left: 0rem;
  display: flex;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .calendar-container {
    width: 90vw;
    height: 50vh;
    margin-left: 0.2rem;
  }
}
