.autocomplete-address {
  background-color: white;
  color: black;
  width: 15vw;
  border: 2px solid white;
  border-radius: 5px;
  height: 5vh;
}

.autocomplete-address-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .autocomplete-address {
    background-color: white;
    color: black;
    width: 54vw;
    border: 2px solid white;
    border-radius: 5px;
    height: 5vh;
  }
}
