* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: linear-gradient(120deg, #fdb316, #060e57 60%);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.containerHeader p {
  font-size: 2rem;
  font-family: Arial;
  font-weight: bold;
  color: white;
}
.container-appname-dropdown {
  margin-left: 0.2rem;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}
.containerHeader img {
  width: 3rem;
  height: 3rem;
  margin-left: 3rem;
}
.dropdown-header {
  position: relative;
  display: inline-block;
  width: 20rem;
  margin-left: 5rem;
}

.dropdown-toggle-header {
  cursor: pointer;
  padding: 10px;
  background: none;
  display: flex;
  gap: 10%;
  flex-direction: row;
  border-radius: 4px;
  font-size: 1rem;
}
.username {
  margin-left: 0px;
  white-space: nowrap;
  overflow: hidden;
}
.dropdown-toggle-header {
  color: white;
}
.dropdown-toggle:hover {
  cursor: pointer;
}
.downarrow {
  margin-left: 0rem;
}

.dropdown-menu-header {
  position: absolute;
  top: 100%;
  left: 5%;
  width: 200px;
  padding: 10px;
  background-color: #d9d9d9;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  color: black;
}

.dropdown-menu-header li {
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.dropdown-menu-header li.Settings {
  border-bottom: 1px solid black;
}

.dropdown-menu-header li:hover {
  background-color: #e0e0e0;
}

.dropdown-menu-header li svg {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .containerHeader p {
    font-size: 1.5rem;
    white-space: nowrap;
    overflow: hidden;
    width: 20rem;
  }
  .containerHeader img {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
  }
  .dropdown-header {
    position: relative;
    display: inline-block;
    width: 20rem;
    margin-left: 1rem;
  }
  .container-appname-dropdown {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
  }
  .username {
    display: none;
  }
  .dropdown-toggle-header {
    margin-left: 5rem;
  }
}
