* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.reset-password-confirm-maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfb;
}
.reset-password-confirm-fields-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2vh;
}
.reset-password-confirm-fields-container h1 {
  color: #060e57;
  font-size: x-large;
}
.reset-password-confirm-fields-container ul {
  padding-left: 2vw;
}
.reset-password-confirm-fields-container li {
  color: black;
  font-size: large;
}
.reset-password-confirm-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #d9d9d9;
  width: 28vw;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-top: 4vh;
  padding-bottom: 4vh;
}
.reset-password-confirm-password-container input {
  background-color: #fdfdfd;
  color: black;
  border: 1px solid #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  width: 22vw;
  height: 6vh;
  border-radius: 5px;
  padding: 0.5vh 1.5vw 0.5vh;
}
.reset-password-confirm-password-container input:focus {
  outline: none;
}
.reset-password-confirm-password-container {
  position: relative;
}

.reset-password-confirm-eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: black;
}
.reset-password-confirm-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20vw;
  margin-top: 2vh;
}

.reset-password-confirm-error-message {
  color: red;
  font-size: small;
}

@media screen and (max-width: 768px) {
  .reset-password-confirm-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #d9d9d9;
    width: 85vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding-top: 4vh;
    padding-bottom: 4vh;
  }
  .reset-password-confirm-fields-container li {
    color: black;
    font-size: medium;
  }
  .reset-password-confirm-password-container input {
    background-color: #fdfdfd;
    color: black;
    border: 1px solid #cccccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
    width: 70vw;
    height: 6vh;
    border-radius: 5px;
    padding: 0.5vh 1.5vw 0.5vh;
  }
  .reset-password-confirm-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70vw;
    margin-top: 2vh;
  }
}
