* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.label-margin {
  margin-top: 5vw;
}
.nav-button-row {
  margin-top: 5vw;
  display: flex;
  justify-content: space-evenly;
}
.nav-button-row button {
  width: 8vw;
  height: 8vh;
  padding: 0;
  background-color: transparent;
  color: #060e57;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: none;
}
.nav-button-row button:focus {
  border-bottom: 5px solid #060e57;
  border-radius: 0px;
}
.nav-button-row button:hover {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid #060e57;
  border-radius: 0px;
}
.requests-container {
  display: flex;
  flex-direction: column;
  margin-left: 20vh;

  color: black;
  width: 80vw;
  height: 60vh;
  padding: 10px;
}
.requests-container table thead tr {
  font-size: 1.3rem;
  font-weight: bold;
  width: 78vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25%;
  margin-left: 18vh;
}

.requests-container table tbody tr {
  gap: 10%;
}
.requests-container table tbody tr td {
  font-size: 1.2rem;
  width: 25vw;
  background-color: #d9d9d9;
  height: 7vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
}
