* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.label-margin {
  margin-top: 3vw;
}
.request-child-container {
  display: flex;

  flex-direction: column;

  height: 75vh;
  width: 100vw;
}
.nav-button-row {
  margin-top: 2vw;
  display: flex;
  justify-content: space-evenly;
}
.nav-button-row button {
  width: 8vw;
  height: 8vh;
  padding: 0;
  background-color: transparent;
  color: #060e57;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: none;
}
.nav-button-row button.active {
  border-bottom: 5px solid #060e57;
  border-radius: 0px;
}
.nav-button-row button:hover {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 5px solid #060e57;
  border-radius: 0px;
}

.requests-container {
  margin-top: 1vw;
  display: flex;
  margin-left: 15vh;
  color: black;
  justify-content: center;
  width: 90vw;
  overflow: auto;
  padding: 0rem 0rem 2rem 0rem;
  border-top: 8px solid #060e57;
  border-image: linear-gradient(to right, #e8a51c, #060e57);
  border-image-slice: 1;
   margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  
}
.requests-table-container {
  width: 100%;
  overflow-x: auto;
}

.requests-container p {
  font-size: 1.3rem;
}
.requests-container table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  
}
.requests-container table thead th,
.requests-container table tbody td {
  padding: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

.requests-container table thead th:first-child,
.requests-container table tbody td:first-child {
  text-align: left;
}

.requests-container table tbody tr {
  text-align: center;
  background-color: #d9d9d9;
  height: 6vh;
  font-size: 1.2rem;
  cursor: pointer;
 position: relative;
}

.requests-container table thead {
  font-size: 1.3rem;
  
}

.ellipsis-cell {
  width: 3vw;
  overflow: visible;
}
.angle-down{
  width: 7vw;
  height: 6vh;
  position: absolute;
  align-items: center;
  display: flex;
  justify-content: center;
}
.request-more-info {
  background-color: #d9d9d9;
  padding: 1rem;
  margin-top: 1rem;
  display: none;
}

.selected-request + .request-more-info {
  display: block;
}


@media screen and (max-width: 768px) {
  .label-margin {
    margin-top: -1vw;
  }

  .nav-button-row {
    margin-top: 10vw;
  }
  .nav-button-row button {
    width: 18vw;
    height: 5vh;
    font-size: 1rem;
  }
  .request-child-container {
    background-color: transparent;
    height: 90vh;
  }
  .requests-container {
    margin-top: 5vw;
    margin-left: 3vh;
    width: 90vw;
  }
  .requests-table-header {
    font-size: 1rem;
    width: 80vw;
    gap: 25%;
    text-align: center;
  }

  .requests-container table tbody tr {
    text-align: center;
    background-color: #d9d9d9;
    height: 6vh;
    font-size: 1rem;
  }
}
