* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerOS {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fbfbfb;
}
.dashboard-container {
  margin-top: 1rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
  gap: 15%;
  width: 90vw;
  height: 60vh;
  background-color: #fbfbfb;
}
.label {
  color: #060e57;
  margin-left: 10rem;
  margin-top: 2rem;
}
.today-trip {
  border-radius: 20px;
  margin-top: 2.5rem;
  margin-left: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  height: 50vh;
  background-color: #d9d9d9;
}
.today-trip p {
  color: #060e57;
  font-size: 2.5rem;
}
.today-trip h2 {
  color: #060e57;
  font-size: 12rem;
}
.sidebar-button.open {
  background-color: #fdb316;
}

@media screen and (max-width: 768px) {
  .dashboard-container {
    margin-left: 1rem;
    flex-direction: column;
    width: 85vw;
    height: 100vh;
    gap: 10%;
  }
  .label {
    margin-left: 5rem;
    margin-top: 6rem;
    font-size: 2rem;
  }
  .today-trip {
    margin-top: 3rem;
    margin-left: 1.3rem;
    width: 80vw;
    height: 40vh;
  }
  .today-trip p {
    font-size: 1.5rem;
  }
  .today-trip h2 {
    font-size: 6rem;
  }
}
